
/*intro title styling*/
.row1{
	align-items:center;
	text-align:center;

     padding-left: 1%;
     padding-right: 1%;
     padding-bottom: 1%;
	font-weight:bold;
}

/*navbar intro page styling*/
#navlist{
	list-style-type: none;
	margin-left: 0.5%;
	margin-right: 0.5%;
	padding-top: 1%
	  padding-left: 1%;
     padding-right: 1%;
     padding-bottom: 0.1%;
}
.intro_nav_items{
	color:white;

}
.intro_nav_list{
	display:inline-block;
		margin-left: 0.5%;
	margin-right: 0.5%;
}
.intro_nav_list:hover{
	background-color: white;
	color:#c81912;
	
}

.intro_nav_items:hover{
	color:#c81912;
}


/*intro heading styling*/
.row2{
	align-items:center;
	text-align:center;
   padding:1%;
	font-weight:bold;
}

/* styling for calender*/
.ui-datepicker-header{
	color:white;
	background-color:  #00c5cd;
	border:2px solid white;
}
.ui-datepicker-title
{
	color:white;
	background-color:  #00c5cd;
	border:2px solid white;
}
.ui-datepicker-calendar
{
	color:white;
	background-color:  #00c5cd;
	border:2px solid white;

}